---
interface Props {
  url: string;
  name: string;
}

const { name, url } = Astro.props;
const id = url.split('/').at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  href={`/pokemons/${name}`}
  class="rounded border flex flex-col justify-center items-center p-2"
>
  <img src={imageSrc} alt={name} />

  <span class="capitalize">{name}</span>
</a>
