---
import NavBar from '@components/shared/NavBar.astro';
import { ViewTransitions } from 'astro:transitions';
import { siteInfo } from 'src/consts/site-info';

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content={'Fernando Herrera'} />

    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Required -->
    <title>{title}</title>

    <ViewTransitions />
    <!-- <style>
      @view-transition {
        navigation: auto; /* enabled! */
      } -->
  </head>

  <body class="bg-slate-800 text-slate-100 flex flex-col min-h-screen">
    <NavBar />
    <main class="mt-10 mx-auto flex-grow w-full max-w-4xl px-4">
      <slot />
    </main>
  </body>
</html>
